/* The styling for the game */

.background {
    -fx-background-color: linear-gradient(to bottom, #7F7FD5, #86A8E7, #91EAE4);
}

.label-header {
    -fx-font-family: "Courier New", Courier, Monospace;
    -fx-font-size: 5em;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.label-header .text {
    -fx-stroke: white;
    -fx-stroke-width: 1px;
}

.label-subheader {
    -fx-font-size: 2.5em;
    -fx-font-family: Georgia, Baskerville, "Times New Roman";
}

.label-content {
    -fx-font-size: 1.5em;
    -fx-font-family: Calibri, Helvetica, Arial;
}

.button {
    -fx-background-color: darkorange;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-font-size: 1.5em;
    -fx-font-family: Arial;
    -fx-font-weight: normal;
}

.button:hover {
    -fx-background-color: orange;
}

.button:pressed {
    -fx-background-color: #FAFAFA;
}

.radio-button {
    -fx-label-padding: 1.5em;
    -fx-font-size: 1.5em;
}

.radio-button.easy {
    -fx-font-size: 1.5em;
    -fx-graphic: url("../../../../images/G.png");
}

.radio-button.medium {
    -fx-graphic: url("../../../../images/G.png");
}

.radio-button.hard {
    -fx-graphic: url("../../../../images/G.png");
}

.table-view {
    -fx-background-color: transparent;
    -fx-font-family: Calibri, Helvetica, Arial;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: cornflowerblue;
    -fx-font-size: 1.7em;
}

.table-view .table-cell {
    -fx-font-size: 1.3em;
    -fx-background-color: skyblue;
    -fx-cell-size: 1.5em;
    -fx-alignment: center;
}

.table-view .table-cell:odd {
    -fx-background-color: lightblue;
}

.text-field {
    -fx-font-family: Calibri, Helvetica, Arial;
    -fx-padding: 0.5em;
}